h1 {
  margin: 60px;
  color: #1C4D6B;
  font-size: 100px;
}
img{
  display: block;
  margin: auto;
}

@media (max-width : 900px){
  h1{
    margin: 20px;
    font-size: xx-large;
    justify-content: center;  
  }
}

