.buttonContainer{
background-image:none;
}
.homeButton{
    background-color: lightblue;
    color: darkblue;
    font-weight: bold;
    font-size: xx-large;
    margin: 10% 15%;
    padding: 12px;
    border-radius: 20px;
    border: 2px solid darkblue;
}