.training{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex start;
    color: black;
    background-color: #A5CAD2;
    border: 4px solid #A4CCE7;
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 30px;
    line-height: 1.5;
    min-width: 200px;
    min-height: 300px;
    width: 100%;
    height: 100%;
}

.flipped{
    animation: rotation 1s linear;
}

@keyframes rotation {
    from {
        transform: rotateY(100deg);
    }
    to{
        transform: rotateY(350deg);
    }
}
.delete span{
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px
}

.training h2{
    color: black;
}
.feedback{
    display: flex;
    position: absolute;
    bottom: 15%;
    gap: 15px;
    align-self: space-around;

}

.light{
    background-color: #C7E8B0;
    border: #B3EBAF;
}
.hard{
    background-color: #EB8496;
    border: #F6AFBA;
}
.ok{
    background-color: #80BED5;
    border: #81BDD3;
}

span{
    font-size: 40px;
}

.training small{
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 15%;
    font-size: 20px;
}
p{
    font-size: medium;
    padding-bottom: 10px;
}

@media (max-width : 900px){
    .training{
        padding: 20px 40px;
        font-size: 25px;
        line-height: 1.5;
        min-width: 150px;
        min-height: 200px;
    }
    .training small{
        font-size: 18px;
        margin: 0;
        text-align: center;
    }
    h2{
        font-size: 25px;
    }

    .feedback{
        bottom: 10%;
    }

}