.pastTrainings{
    margin: 60px;
}

.pastTrainingsButton{
    margin-left: 70%;
    background-color: lightgreen;
    color: green;
    font-weight: bold;
    font-size: xx-large;
    padding: 18px;
    border-radius: 20px;
    border: 2px solid greenyellow;
}


@media (max-width : 900px){
    .pastTrainings{
        margin: 2%;
    }
    .pastTrainingsButton{
    font-size: 20px;
    margin-left: 20%;
    }
    h2{
        font-size: 25px;
    }

}