.allTrainings{
    margin: 60px;
}

.allTrainingsButton{
    background-color: #688AA5;
    color: #FFFFFF;
    font-weight: bold;
    font-size: larger;
    padding: 15px;
    margin: 0px;
    border-radius: 20px;
    border: 2px solid #1C4D6B;
}


@media (max-width : 900px){
    .allTrainings{
        margin: 2%;
    }
    .allTrainingsButton{
    font-size: small;
    }
    h2{
        font-size: 25px;
    }
}