.form{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    border: 3px solid lightblue;
    margin: 100px;
    margin-bottom: 10px;
    padding: 10px;
    gap: 10px;
    color: #0368A0;
    text-align: center;
}

h2{
    color: #1C4D6B;
}

small{
    font-weight: 500;
}

.newRunnerButton{
    background-color: #3B638D;
    color: #FFFFFF;
    font-weight: bold;
    font-size: small;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
}

@media (max-width : 900px){
    .form{
      margin: 30px 20px;
      gap: 10px;
      padding-bottom: 3px;
    }
    h2{
        margin-bottom: 0px;
    }
    small{
        line-height: 1;
    }
  }